<?xml version="1.0" encoding="utf-8"?>
<module>
  <id>c2314fb0-d5f8-4609-8d66-b725f859804e</id>
  <name>LMIDataSourceForms</name>
  <version>1.0</version>
  <intendedClient>Forms</intendedClient>
  <assemblies>
    <assembly>
      <fullname>LMIDataSourceForms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4d95002c27fab778</fullname>
      <codebase>LMIDataSourceForms.dll</codebase>
      <compatibility>
        <min-version>0.0.0.0</min-version>
        <max-version>#.#.*.*</max-version>
      </compatibility>
    </assembly>
  </assemblies>
  <extensions>
    <addIn fullTypeName="LMIDataSourceForms.CustomAddIn, LMIDataSourceForms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4d95002c27fab778" />
  </extensions>
</module>