<?xml version="1.0" encoding="utf-8"?>
<module>
  <id>705e88bc-f8c6-42b4-8675-c4b3b3a20430</id>
  <name>LMIDataSource</name>
  <version>1.0.13003.214</version>
  <intendedClient>Core</intendedClient>
  <assemblies>
    <assembly>
      <fullname>LMIDataSource, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4d95002c27fab778</fullname>
      <codebase>LMIDataSource.dll</codebase>
      <compatibility>
        <min-version>0.0.0.0</min-version>
        <max-version>#.#.*.*</max-version>
      </compatibility>
    </assembly>
  </assemblies>
  <extensions>
    <addIn fullTypeName="LMIDataSource.CustomAddIn, LMIDataSource, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4d95002c27fab778" />
  </extensions>
</module>